a {
    text-decoration: none;
    color: rgb(4, 97, 204);
    
}
body{
    transition: 1600ms;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(0, 183, 255);
  text-align: center;
}

/* Боковое навигационное меню */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  /* Сайдбар ссылки */
  .sidebar a {
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      display: block;
      color: black;
      padding: 16px;
      text-decoration: none;
  }

  /* Активная/текущая ссылка */
  .sidebar a.active {
    background-color: #2647ff;
    color: white;
  }

  /* Ссылки при наведении мыши */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  /* Содержание страницы. Значение свойства margin-left должно соответствовать значению свойства width боковой панели */
	div.content {
	  margin-left: 200px;
	  padding: 1px 16px;
	  height: 1000px;
	}

  /* На экранах шириной менее 700 пикселей превратить боковую панель в верхнюю панель */
	@media screen and (max-width: 700px) {
	  .sidebar {
		width: 100%;
		height: auto;
		position: relative;
	  }
	  .sidebar a {float: left;}
	  div.content {margin-left: 0;}
	}

	/* На экранах размером менее 400 пикселей панель отображать вертикально, а не горизонтально */
	@media screen and (max-width: 400px) {
	  .sidebar a {
		text-align: center;
		float: none;
	  }
	}